@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "../../components/instructor/Calendar.module.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  font-family: "Inter", sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  background-color: #f5f5f5;
}

ul,
ol {
  list-style: revert;
}

ol {
  padding-left: 4.5vw;
}

.circle {
  left: 35.5vw;
  top: 27vw;
}

.squiggle {
  left: 62.3vw;
  top: 28.8vw;
}

svg {
  margin: 0;
  overflow: visible;
}

a:hover {
  color: #ad73ce;
}

.nav-bar {
  padding-bottom: 2vw;
}

button {
  line-height: 0;
}
