.textContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100vw;
  overflow: hidden;
}

.wordDiv {
  display: inline-block;
  margin: 2px;
  /* border: 1px solid red; */
}

.textWithSuggestionsPanelContainer {
  display: grid;
  grid-template-columns: 60vw 1fr;
  margin: 20px;
}

.textAndTitleContainer {
  max-width: 60vw;
}


.screenContainer {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.screenBackButtonContainer {
  max-width: 50px;
}


.workTitle {
  font-size: x-large;
  margin: 20px;
}