.header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 10vh;
  /* background: rgb(56, 56, 217); */
  color: black;
  font-size: 5vw;
  font-weight: bold;
  font-variation-settings: 'wght' 700;
}
