.newCommentContainer {
  margin-top: 20px;
}

.newCommentContainer textarea {
  border: 1px solid black;
  padding: 5px;
}

.noComments {
  margin-top: 20px;
}

.commentContainer {
  margin-top: 20px;
  border: 1px solid black;
  padding: 15px;
}

.commentBody {
  font-size: large;
}

.commentUser {
  margin-left: 20px;
  font-size: smaller;
  margin-bottom: 10px;
}

.suggestionTitle {
  font-size: x-large;
  margin-top: 20px;
}


.suggestionContainer {
  margin: 20px;
}

.suggestionSectionContainer {
  border-bottom: 2px solid black;
}

.commentsTitle {
  font-size: x-large;
  margin-top: 20px;
}