.checkbox {
  border: 1px solid var(--action_border_primary);
  border-radius: 6px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-color: var(--surface_bg_highlight);
}

.checkbox:checked {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5 8L6.5 11L12.5 5' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
  background-color: var(--action_bg_primary);
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.checkbox:disabled {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5 8L6.5 11L12.5 5' stroke='%23BFBFBF' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
  background-color: var(--action_bg_tertiary);
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
