* {
    font-family: "inter-variable", sans-serif;
}

html, body {
    margin: 0;
    font-family: "inter-variable", sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    align-items: center;
    top: 0;
    position: fixed;
    overflow: hidden;
    z-index: 10000;
    justify-content: center;
    margin-left: 3vw;
    margin-top: 3vw;
}

a:link {
    color: #ffffff;
    text-decoration: none;
    font-variation-settings: "slnt" 0, "wght" 450;
}

a:visited {
    color: #ffffff;
}

a:hover {
    color: #F8E4FF;
}

.nav-links {
    display: flex;
    background: #AD73CE;
    border-radius: 2vw;
    padding: 0.8vw 1.5vw 0.8vw 1.5vw;
    justify-content: space-between;
    gap: 0.7vw;
    align-items: center;
    margin-left: 35vw;
    font-size: 1vw;
}

.nav-divider {
    display: block;
    background: #ffffff;
    width: 0.1vw;
    height: 2vw;
    opacity: 0%;
}

.logo-home {
    max-width: 3.6vw;
    max-height: 3.6vw;
    position: absolute;
    margin-left: 0.25vw;
    margin-top: 0.25vw;
}

.logo-bg-home {
    display: block;
    fill: #AD73CE;
}

.top-section {
    display: flex;
    max-width: 100%;
    background-color: #F5E4FF;
    min-height: 100vh;
    justify-content: right;
}

.big-home-text {
    display: flex;
    font-family: "inter-variable", sans-serif;
    font-variation-settings: "slnt" 0, "wght" 460;
    font-size: 5vw;
    text-align: right;
    margin-right: 6vw;
    align-items: flex-end;
    position: relative;
    line-height: 1.2;
    animation: 2.5s fadeIn;
}

@keyframes fadeIn {
    0% {opacity: 0;}
   100% {opacity: 1;}
  }

.circle {
    display: block;
    position: absolute;
    margin-bottom: 16.3vw;
    margin-left: 41.5vw;
}

.squiggle {
    display: block;
    position: absolute;
    margin-bottom: -2vw;
    margin-left: 37vw;
}

.consequences-section {
    display: flex;
    max-width: 100%;
    background-color: #FFFFFF;
    min-height: 100vh;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 13vh;
}

.subsection-title {
    font-family: "inter-variable", sans-serif;
    font-variation-settings: "slnt" 0, "wght" 450;
    font-size: 5vw;
    margin-left: 5vw;
    margin-top: 5vw;
    line-height: 1.2;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    border-radius: 4vw;
    width: 25vw;
    height: 25vw;
    margin-left: 5vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3vw;
}

.card-icon {
    
}

.card-caption {
    font-family: "inter-variable", sans-serif;
    font-weight: semi-bold;
    font-size: 2.2vw;
    line-height: 1.2;
    text-align: left;
    margin: 0;
    padding: 1vw 0 0 0;
}

.people-array {
    align-items: center;
    text-align: center;
}

.stats-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stats-section {
    background-color: #E1F1FF;
}

.stats-subsection {
    display: flex;
    max-width: 100%;
    background-color: #E1F1FF;
    min-height: 100vh;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 10vh;
}

.legend {
    display: flex;
    margin-top: 18vh;
    margin-right: 10vw;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
}

.legend-title {
    margin: 0;
    font-size: 1.5vw;
    font-weight: semi-bold;
    color: #547c92;
}

.heu-mission-section {
    background-color: #F5E4FF;
    display: flex;
    max-width: 100%;
    min-height: 100vh;
    justify-content: flex-end;
    padding-bottom: 6vh;
}

.heu-mission {
    display: flex;
}

.mission-text {
    display: flex;
    font-family: "inter-variable", sans-serif;
    font-weight: semi-bold;
    font-size: 3vw;
    text-align: right;
    margin-right: 6vw;
    align-items: flex-end;
    line-height: 1.3;
    position: relative;
}

.mission-circle {
    display: block;
    position: absolute;
    margin-left: 37.5vw;
    margin-top: 40vh;
}

.mission-line {
    display: block;
    position: absolute;
    margin-left: 3vw;
    margin-top: 66vh;
}

.plan-section {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 100vh;
}

.steps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.step-card {
    border-radius: 2vw;
    width: 85vw;
    height: 15vh;
    text-align: left;
    align-items: center;
    padding: 2vw;
    margin: 0;
    margin-top: 2vw;
    font-size: 2vw;
    font-family: "inter-variable", sans-serif;
    font-variation-settings: "slnt" 0, "wght" 500;
    display: flex;
}

.step-number {
    font-size: 2vw;
    font-family: "inter-variable", sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0 2vw 0 1vw;
}

#step-1-number {
    color: #B2D99F;
}

#step-2-number {
    color: #f8ce7a;
}

#step-3-number {
    color: #67B7E0;
}
#step-4-number {
    color: #C26DDF;
}

#step-1 {
    background: #EEF8EA;
}

#step-2 {
    background: #FFF7E6;
}

#step-3 {
    background: #E1F1FF;
}

#step-4 {
    background: #F5E4FF;
}

.sticky-parent {
    height: 200vh;
}

.sticky {
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 100vh;
}

.scroll-section {
    position: absolute;
    top: 0;
    height: 100%;
    width: 200vw;
    will-change: transform;
    display: flex;
    justify-content: flex-start;
    gap: 2vw;
    align-items: center;
    margin-left: 100vw;
    margin-top: 3vw;
    margin-right: 35vw;
}

.logo-footer {
    padding: 10vw 0 0 0;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
}