.module_detail_desktop {
  position: relative;
}

.module_detail_desktop::before {
  content: "";
  position: absolute;
  top: -18px;
  left: -12px; /* Extend to the left edge of the container */
  width: calc(100% + 24px); /* Extend 24px on both sides */
  height: calc(100% + 32px);
  border-radius: 14px;
  border: 1px solid var(--surface_border_tertiary);
  z-index: 1000;
}

.module_detail_mobile {
  position: relative;
}

.module_detail_mobile::before {
  content: "";
  position: absolute;
  top: -18px;
  left: -12px; /* Extend to the left edge of the container */
  width: calc(100% + 24px); /* Extend 24px on both sides */
  height: calc(100% + 32px);
  border-radius: 14px;
  border: 1px solid var(--surface_border_tertiary);
  z-index: 1000;
}
