.stickyHeader::before {
  content: "";
  position: absolute;
  top: -24px;
  left: -16px;
  width: calc(100% + 32px);
  height: calc(100% + 24px);
  background-color: var(--surface_bg_highlight);
  border-radius: 20px 20px 0 0;
  z-index: -1;
}

.stickyHeaderWithBorder {
  position: relative; /* Ensure the pseudo-element is positioned relative to the parent */
}

.stickyHeaderWithBorder::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% + 32px);
  margin-left: -16px;
  height: 1px; /* Border height */
  background-color: var(--surface_border_secondary); /* Border color */
  z-index: 1; /* Ensure it appears above other content */
}
